<!DOCTYPE html>

<head>
    <%- include('./partials/head'); %>
</head>
<html>

<body>
    <%- include('./partials/header'); %>
        <div class="divider"></div>
        <div class="quotation-area">
            <div class="left">
                <p class="user-info">
                    <%= quotation.firstName %>
                        <%= quotation.lastName %> (<%= quotation.userEmail %>)
                </p>
                <p class="user-info">
                    <%= quotation.userType %> (<%= quotation.hospital %>)
                </p>
                <p class="user-info">
                    <%= quotation.street %>,<%= quotation.city %>,<%= quotation.state %><br />
                                <%= quotation.postalCode %>,<%= quotation.country %>
                </p>
                <div class="phone-info">
                    <p>Attn: <%= quotation.firstName %>
                            <%= quotation.lastName %>
                    </p>
                    <p>TEL: <%= quotation.phone %>
                    </p>
                </div>
            </div>
            <div class="right">
                <div class="quotation-right">
                    <div class="quotation-request">
                        <p class="quotation-data "><b>QUOTATION</b></p>
                    </div>
                    <div class="quotation-mid">
                        <p style="text-align: center" class="quotation-data ">:</p>
                    </div>
                    <div class="quotation-ref">
                        <p class="quotation-data "><b>
                                <%= quotation.quotationId %>
                            </b></p>
                    </div>
                </div>
                <div class="quotation-right">
                    <div class="quotation-request">
                        <p class="quotation-sub-data ">Your Ref</p>
                    </div>
                    <div class="quotation-mid">
                        <p style="text-align: center" class="quotation-data ">:</p>
                    </div>
                    <div class="quotation-ref">
                        <p class="quotation-sub-data ">
                            <%= quotation.ref %>
                        </p>
                    </div>
                </div>
                <div class="quotation-right">
                    <div class="quotation-request">
                        <p class="quotation-sub-data ">Supplier Name</p>
                    </div>
                    <div class="quotation-mid">
                        <p style="text-align: center" class="quotation-data ">:</p>
                    </div>
                    <div class="quotation-ref">
                        <p class="quotation-sub-data ">
                            <%= quotation.supplier %>
                        </p>
                    </div>
                </div>
                <div class="quotation-right">
                    <div class="quotation-request">
                        <p class="quotation-sub-data ">Date</p>
                    </div>
                    <div class="quotation-mid">
                        <p style="text-align: center" class="quotation-data ">:</p>
                    </div>
                    <div class="quotation-ref">
                        <p class="quotation-sub-data ">
                            <%= quotation.date %>
                        </p>
                    </div>
                </div>
                <div class="quotation-right">
                    <div class="quotation-request">
                        <p class="quotation-sub-data ">Page</p>
                    </div>
                    <div class="quotation-mid">
                        <p style="text-align: center" class="quotation-data ">:</p>
                    </div>
                    <div class="quotation-ref">
                        <p class="quotation-sub-data ">1 of 1</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="request-type">
            <p>We kindly request you to submit your quotation for <b>
                    <%= quotation.serviceType %>
                </b></p>
        </div>
        <div class="divider"></div>
        <table class="problem-table">
            <tbody>
                <tr class="table-header">
                    <th>No</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price/Unit</th>
                </tr>
                <% quotation.problemList.forEach(function(problem) { %>
                    <tr class="problem-row">
                        <td>
                            <%= problem.id %>
                        </td>
                        <td>
                            <%= problem.desc %>
                        </td>
                        <td>
                            <%= problem.price %>
                        </td>
                        <td>
                            <%= problem.amount %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <div style="margin-top: 200px" class="divider"></div>
        <div class="quotation-footer-area">
            <div style="width: 45%; display: inline-block;">
                <div class="quotation-left-area">
                    <div style="display:inline-block">
                        <p class="quotation-sub-data "><b>Validity</b></p>
                    </div>
                    <div style="margin: 0 10px;display:inline-block">
                        <p style="text-align: center" class="quotation-data ">:</p>
                    </div>
                    <div style="display:inline-block">
                        <p class="quotation-sub-data ">
                            <%= quotation.validity %>
                        </p>
                    </div>
                </div>
                <div class="quotation-left-area">
                    <div style="display:inline-block">
                        <p class="quotation-sub-data "><b>Delivery Term</b></p>
                    </div>
                    <div style="margin: 0 10px;display: inline-block">
                        <p style="text-align: center;" class="quotation-data ">:</p>
                    </div>
                    <div style="display:inline-block">
                        <p class="quotation-sub-data ">
                            <%= quotation.deliveryTerm %>
                        </p>
                    </div>
                </div>
                <div class="quotation-left-area">
                    <div style="display:inline-block">
                        <p class="quotation-sub-data "><b>Payment Term</b></p>
                    </div>
                    <div style="margin: 0 10px;display: inline-block">
                        <p style="text-align: center;" class="quotation-data ">:</p>
                    </div>
                    <div style="display:inline-block">
                        <p class="quotation-sub-data ">
                            <%= quotation.paymentTerm %>
                        </p>
                    </div>
                </div>
            </div>
            <div style="width: 45%; display: inline-block; justify-content: center; text-align: end">
                <div style="display: inline-block">
                    <div class="quotation-right-area">
                        <div style="display:inline-block">
                            <p class="quotation-sub-data "><b>Gross</b></p>
                        </div>
                        <div style="margin: 0 10px; display: inline-block" >
                            <p style="text-align: center" class="quotation-data ">:</p>
                        </div>
                    </div>
                    <div class="quotation-right-area">
                        <div style="display:inline-block">
                            <p class="quotation-sub-data ">-Discount</p>
                        </div>
                        <div style="margin: 0 10px; display: inline-block" class="">
                            <p style="text-align: center" class="quotation-data ">:</p>
                        </div>
                    </div>
                    <div class="quotation-right-area">
                        <div style="display:inline-block">
                            <p class="quotation-sub-data ">+Sales Tax</p>
                        </div>
                        <div style="margin: 0 10px; display: inline-block" class="">
                            <p style="text-align: center" class="quotation-data ">:</p>
                        </div>
                    </div>
                    <div class="quotation-right-area">
                        <div style="display:inline-block">
                            <p class="quotation-sub-data "><b>TotalRM</b></p>
                        </div>
                        <div style="margin: 0 10px; display: inline-block" class="">
                            <p style="text-align: center" class="quotation-data ">:</p>
                        </div>
                    </div>
                </div>
                <div class="quotation-payment">
                    <div style="padding-right: 5px">
                        <%= quotation.gross %>
                    </div>
                    <div style="padding-right: 5px">
                        <%= quotation.discount %>
                    </div>
                    <div style="padding-right: 5px">
                        <%= quotation.saleTax %>
                    </div>
                    <div style=" border-top: 2px solid black; padding-right: 5px;">
                        <%= quotation.totalRM %>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 15px" class="quotation-notice">Notes: Prices are subjected to change without prior notice</div>
        <div class="quotation-notice">Terms & Conditions</div>
        <div class="quotation-notice">Challanges & Cancellation:</div>
        <div style="display: flex; justify-content: space-between">
            <div class="quotation-notice">Yours Faithfully</div>
            <div style="text-align: right" class="quotation-notice">We confirm the order by accepting the term & conditions stated above.</div>
        </div>
        <div style="display: inline-block; margin-top: 100px; width: 100%">
            <div class="footer-bottom-left">
                <div style="justify-content: center" class="quotation-left">
                    <div style="display: inline-block;">
                        <p class="quotation-sub-data "><b>Supplier Name</b></p>
                    </div>
                    <div style="margin: 0 10px; display: inline-block">
                        <p style="text-align: center" class="quotation-data ">:</p>
                    </div>
                    <div style="display: inline-block;">
                        <p class="quotation-sub-data ">
                            <%= quotation.supplier %>
                        </p>
                    </div>
                </div>
                <div  style=" justify-content: center" class="quotation-left">
                    <div style="display: inline-block;">
                        <p class="quotation-sub-data "><b>Date</b></p>
                    </div>
                    <div style="margin: 0 10px ;display: inline-block">
                        <p style="text-align: center" class="quotation-data ">:</p>
                    </div>
                    <div style="display: inline-block;"
                        <p class="quotation-sub-data ">
                            <%= quotation.date %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-right">
                <div style="justify-content: center" class="quotation-left">
                    <div style="display: inline-block;">
                        <p class="quotation-sub-data "><b>Person Incharge</b></p>
                    </div>
                    <div style="margin: 0 10px; display: inline-block">
                        <p style="text-align: center" class="quotation-data ">:</p>
                    </div>
                    <div style="display: inline-block;">
                        <p class="quotation-sub-data ">
                            <%= quotation.firstName %>
                                <%= quotation.lastName %>
                        </p>
                    </div>
                </div>
                <div  style=" justify-content: center" class="quotation-left">
                    <div style="display: inline-block;">
                        <p class="quotation-sub-data "><b>Date</b></p>
                    </div>
                    <div style="margin: 0 10px ; display: inline-block">
                        <p style="text-align: center" class="quotation-data ">:</p>
                    </div>
                    <div style="display: inline-block;">
                        <p class="quotation-sub-data ">
                            <%= quotation.date %>
                        </p>
                    </div>
                </div>

            </div>
        </div>

</body>

</html>